doctype html
html(lang="zh-tw" data-git=htmlWebpackPlugin.options.git data-rev=htmlWebpackPlugin.options.rev)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title practice
  body
    .header
        .header-topBar
          .topBar-time.topBar-text 2018/03/09 17:14:59
          .topBar-menu
            a.topBar-text.lanBox.topBar-position 語言切換
              ul.lanList
                li.lanItem English
                li.lanItem 簡中
                li.lanItem 한국어
                li.lanItem 日本語
            a.topBar-text.userName.topBar-position Jennifer_lin
            a.topBar-text.userMoney.topBar-position BBIN 餘額： 0.24
        .header-main
          a.header-logo
          .header-version 傳統版
          .header-menu
            ul.menu-list
              li.menu-item
                a.menu-btn.menu-message
                ul.sec-menu-lst 公告
                  li.sec-menu-item
                    a.sec-menu-btn
              li.menu-item
                a.menu-btn.menu-function
                ul.sec-menu-lst 功能
                  li.sec-menu-item
                    a.sec-menu-btn
              li.menu-item
                a.menu-btn.menu-game



